{
  "compilerOptions": {
    "target": "ES2020",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "esModuleInterop": true,
    "skipLibCheck": true,
    "strict": true,
    "paths": {
      "@contracts": ["./abiregistry/index.ts"],
      "@contracts/*": ["./abiregistry/*"]
    }
  },
  "include": ["src/**/*", "abiregistry/**/*"],
  "exclude": ["node_modules"]
}

