{
  "compilerOptions": {
    "target": "ES2020",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "esModuleInterop": true,
    "skipLibCheck": true,
    "strict": true,
    "paths": {
      "@abiregistry/*": ["./abiregistry/*"]
    }
  },
  "include": ["src/**/*", "abiregistry/**/*"],
  "exclude": ["node_modules"]
}

